
<div class="dialog-header" mat-dialog-title>
    <p mat-line>הוסף</p>
    <div class="flex-spacer"></div>
    <mat-icon class="exit-icon" (click)="onNoClick()">cancel</mat-icon>
  </div>
  <mat-divider></mat-divider>
  
  <form [formGroup]="addMemberForm" mat-dialog-content>
      <div class="inputs-container">
        <mat-form-field>
          <mat-select dir="rtl" formControlName="title" placeholder="תואר">
            <mat-option>--</mat-option>
            <mat-option dir="rtl" *ngFor="let title of titles" [value]="title">
              {{title}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="addMemberForm.controls.title.invalid">{{getTitleErrorMessage()}}</mat-error>
        </mat-form-field>
        
        <mat-form-field>
          <input dir="rtl" required matInput formControlName="firstName" placeholder="שם פרטי">
          <mat-error *ngIf="addMemberForm.controls.firstName.invalid">{{getFirstNameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input dir="rtl" required matInput formControlName="lastName" placeholder="שם משפחה">
          <mat-error *ngIf="addMemberForm.controls.lastName.invalid">{{getLastNameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="example@bgu.ac.il">
          <input matInput formControlName="email" placeholder="אימייל">
          <mat-error *ngIf="addMemberForm.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="isChecked" (change)="OnChange($event)" formControlName="supervisor">אחראי חדר</mat-checkbox>
        
      </div>
  </form>
  <mat-divider></mat-divider>
  <div mat-dialog-actions>
    <button [disabled]="checkFormStatus()" class="save-button" mat-button (click)="onSubmit()">שמור</button>
  </div>
 