
<div class="dialog-header" mat-dialog-title>
    <p mat-line>הוסף חבר</p>
    <div class="flex-spacer"></div>
    <mat-icon class="exit-icon" (click)="onNoClick()">cancel</mat-icon>
  </div>
  <mat-divider></mat-divider>
  
  <form [formGroup]="addMemberForm" mat-dialog-content>
      <div class="inputs-container">
        <mat-form-field>
          <input dir="rtl" required matInput formControlName="firstName" placeholder="שם פרטי">
        </mat-form-field>
        <mat-form-field>
          <input dir="rtl" required matInput formControlName="lastName" placeholder="שם משפחה">
        </mat-form-field>
        <mat-form-field hintLabel="example@bgu.ac.il">
          <input matInput formControlName="email" placeholder="אימייל">
        </mat-form-field>
        <mat-checkbox>אחראי חדר</mat-checkbox>
      </div>
  </form>
  <mat-divider></mat-divider>
  <div mat-dialog-actions>
    <button class="save-button" mat-button (click)="onSubmit()">שמור</button>
  </div>
 