<div *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
    
<div *ngIf="!loading">
    <div  id="member-details" *ngFor="let member of peopleInRoom">
        <ng-container>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar><mat-icon mat-list-icon>person</mat-icon></div>
                    <mat-card-title>{{member.Title}} {{member.FirstName}} {{member.LastName}}</mat-card-title>
                    <mat-card-subtitle>{{member.Email}}</mat-card-subtitle>
                    <p *ngIf="member.Supervisor === 'yes'" mat-card-header dir="rtl" class="status">אחראי חדר</p>
                    <div class="flex-spacer"></div>
                </mat-card-header>
                <img mat-card-image>
                <ng-template ngxPermissionsOnly="ADMIN">
                    <mat-card-actions>
                        <mat-icon class="edit" (click)="openEditMemberDialog(member)" mat-list-icon matTooltip="ערוך">edit</mat-icon>
                        <mat-icon class="delete" (click)="openRemoveMemberDialog(member)" mat-list-icon matTooltip="מחק">delete</mat-icon>
                    </mat-card-actions>
                </ng-template>
            </mat-card>
        </ng-container>
    </div>
</div>

<ng-template ngxPermissionsOnly="ADMIN">
    <button 
        [matTooltip]="getToolTip()"
        [matTooltipDisabled]="loading" 
        [disabled]="checkIfRoomIsFull()"
        mat-raised-button type="button" 
        (click)="openAddMemberDialog()">
        <mat-icon class="add" mat-list-icon>add</mat-icon>
    </button>
</ng-template>

