@mixin push--auto($vertically: true) {
    @if $vertically {
      margin: {
        top: $vertically;
        bottom: $vertically;
        left: auto;
        right: auto;
      }
    } @else {
      margin: {
        left: auto;
        right: auto;
      }
    }
  }
  
  #equip-details {
    width: 65%;
    @include push--auto();
    margin-top: 2rem;
  }
  
  button {
    @include push--auto(2rem);
    display: block;
  }
  
  @media (max-width: 600px) {
    #equip-details {
      width: 100%;
    }
  }
  
  .edit:hover, .delete:hover{
    cursor: pointer;
  }
  
  .mat-card-header{
    flex-direction: row-reverse;
  }

  .mat-progress-spinner{
    margin-top: 2rem;
      margin-bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
  }

  .mat-card-header-text{
    flex-grow: 1;
  }

  .status{
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
    text-align: right;
  }

  .warranty{
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
    text-align: right;
  }

  