.mat-grid-list{
    margin: 50px 50px 50px 50px;
}

.room:hover{
    background-color: #7d8586 !important;
    cursor: pointer;
}

.mat-grid-tile:focus{
    outline: -webkit-focus-ring-color auto 0px;
}
  
  