<mat-grid-list cols="{{floor.columns}}" rowHeight="90px" gutterSize="5px">
    <mat-grid-tile *ngFor="let tile of floor.parts | async"
        [ngClass] = "color"
        (mouseover)="changeStyle($event, tile.RoomNumber)"
        (mouseout)="changeStyle($event, tile.RoomNumber)"
        [matTooltipDisabled] = "tile.RoomNumber === null"
        [matTooltipPosition]="position"
        [colspan]="tile.Cols"
        [rowspan]="tile.Rows"
        [style.background]="tile.color | async"
        [routerLink]= "tile.RoomNumber !== null ? tile.route : null"
        [matTooltip]="tile.tooltip">
        <div class="room-tile">
            <div *ngIf="tile.faultyEquip | async as faultyEquipment">
                <mat-icon class="icon"
                    *ngFor="let equip of faultyEquipment">
                    fiber_manual_record
                </mat-icon>
            </div>
            <div class="room-number">
                {{tile.RoomNumber }}
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>