<mat-grid-list cols="13" rowHeight="70px">
    <mat-grid-tile
        [ngClass] = "color"
        (mouseover)="changeStyle($event, tile.text)"
        (mouseout)="changeStyle($event, tile.text)"
        matTooltip="mail@mail.com מייל בעל חדר"
        [matTooltipDisabled] = "tile.text.length == 0"
        [matTooltipPosition]="position"
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color"
        routerLink= "rooms/{{tile.text}}">
        {{tile.text}}
    </mat-grid-tile>
    <mat-grid-tile
        [ngClass] = "color" 
        (mouseover)="changeStyle($event, tile.text)" 
        (mouseout)="changeStyle($event, tile.text)"
        matTooltip = "חדר, מרצה: בדיקה {{tile.text}}"
        [matTooltipDisabled] = "tile.text.length == 0"
        [matTooltipPosition] = "position"
        *ngFor="let tile of tiles2"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color"
        routerLink= "rooms/{{tile.text}}">
        {{tile.text}}
    </mat-grid-tile>
    <mat-grid-tile
        [ngClass] = "color" 
        (mouseover)="changeStyle($event, tile.text)" 
        (mouseout)="changeStyle($event, tile.text)"
        matTooltip = "חדר, מרצה: בדיקה {{tile.text}}"
        [matTooltipDisabled] = "tile.text.length == 0"
        [matTooltipPosition]="position"
        *ngFor="let tile of tiles3"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color"
        routerLink= "rooms/{{tile.text}}">
        {{tile.text}}
    </mat-grid-tile>
</mat-grid-list>



<!--matTooltip = "חדר, מרצה: בדיקה {{tile.text}}"-->

