<!--<mat-tab-group  [@.disabled]="true">
  <mat-tab label="ציוד">
    <app-equipment></app-equipment>
  </mat-tab>
  <mat-tab label="פרטים">
      <app-member [details]= roomData></app-member>
  </mat-tab>
</mat-tab-group>-->

<nav mat-tab-nav-bar>
    <a mat-tab-link
      routerLink="members"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      פרטים
    </a>
    <a mat-tab-link
      routerLink="equipment"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      ציוד
    </a>
  </nav>
  <div *ngIf="!loading">
    {{roomData.response[0].RoomNumber}}
    {{roomData.response[0].RoomName}}
    {{roomData.response[0].Tel}}
    {{roomData.response[0].RoomType}}
    {{roomData.response[0].MaxOccupancy}}
  </div>
  <router-outlet></router-outlet>
  
