

<nav mat-tab-nav-bar>
    <a mat-tab-link
      routerLink="members"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      אנשים
    </a>
    <a mat-tab-link
      routerLink="equipment"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      ציוד
    </a>
    <ng-template ngxPermissionsOnly="ADMIN">
      <a mat-tab-link
        *ngIf ="roomDetails.RoomNumber === 5 || roomDetails.RoomNumber === 1"
        routerLink="schedule"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        לוח זמנים
      </a>
    </ng-template>
  </nav>
  <router-outlet></router-outlet>
  
