/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

html, body {
  height: 100%;
  margin: 0;
}
.mat-tab-labels{
  float: right;
}
.mat-ink-bar{
  height: 0px !important;
}
.mat-list .mat-list-item .mat-list-item-content .mat-list-text{
  padding-right: 16px !important;
  padding-left: 0 !important;
}

.mat-list-item .mat-list-item-content{
  flex-direction: row-reverse !important;
}
.flex-spacer {
  flex-grow: 1;
}

.mat-form-field-hint-wrapper{
  flex-direction: row-reverse !important;
}

.mat-tab-links{
  display: flex !important;
  flex-direction: row-reverse !important;
}

.mat-checkbox-layout{
  display: flex !important;
  flex-direction: row-reverse !important;
}

.mat-checkbox-inner-container{
  margin-left: 10px !important;
}

.mat-checkbox-layout{
  padding-top: 10px;
}

.mat-radio-label{
  flex-direction: row-reverse !important;
}

.mat-radio-label-content{
  padding-left: 20px !important;
  padding-right: 3px !important;
}

.mat-card-header-text{
  flex-grow: 1 !important;
  text-align: right !important;
}

.mat-grid-tile .mat-figure{
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  position: absolute !important;
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: flex-start !important;
  align-content: flex-start !important;
  justify-content: flex-start !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}





