.fill-remaining-space{
    flex: 1 1 auto;
    display: flex;
}

.logo{
    height: 50px;
    width: 170px;
  }
  

.mat-toolbar{
    z-index: 2;
    position: fixed;
}

@media (max-width: 600px){
    .mat-toolbar-row, .mat-toolbar-single-row {
        height: 64px; 
    }
}


.aa{
    padding-left: 10px !important;
    font-size: 15px !important;
  }



